._tokens-theme {
  --colors-primary: #00549A;
  --colors-dark: #16191C;
  --colors-light: #F4F4F4;
  --colors-blue-bell: #00549A;
  --colors-blue-dark: #00215E;
  --colors-blue-light: #C2CEDF;
  --colors-blue-lighter: #E4F0F9;
  --colors-blue-medium: #003778;
  --colors-blue-electric: #0075FF;
  --colors-gray-dark: #111111;
  --colors-gray-light: #E1E1E1;
  --colors-gray-light-text: #999999;
  --colors-gray-keyline: #D4D4D4;
  --colors-gray-medium: #555555;
  --colors-disabled-dark: #c2cedf80;;
  --colors-disabled-light: #babec2;
}