@layer base {
    @font-face {
        font-family: 'bell-slim';
        src: url('./fonts/bellslim_black-webfont.woff') format('woff'), url('../../fonts/bellslim_black-webfont.woff2') format('woff2');
        font-weight: 900;
        font-style: normal;
    }

    @font-face {
        font-family: 'bell-slim';
        src: url('./fonts/bellslim_medium-webfont.woff') format('woff'), url('../../fonts/bellslim_medium-webfont.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
    }
}