@layer base {
    @font-face {
        font-family: 'bell-slim-black';
        src: url('./fonts/bellslim_black-webfont.woff') format('woff'), url('../../fonts/bellslim_black-webfont.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
}